export(fit_cope)
export(population_mortality)
export(state_outcomes)
export(compare_outcomes)
export(cope_example)
export(run_cope_demo)
S3method(plot,cope_demo_result)
S3method(coef,cope_fit)
S3method(print,cope_fit)
S3method(summary,cope_fit)
S3method(print,summary.cope_fit)
S3method(predict,cope_fit)
S3method(plot,cope_fit)
importFrom(stats,vcov)
importFrom(stats,predict)
importFrom(utils,head)
